# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/edumark-frontend

# deploy artifacts
*.tar.gz
*.zip
deploy_next.zip
mysql2_full.zip
mysql2_all_deps.zip
tools.zip
deploy.zip
app_source.tar.gz
deploy.tar.gz
next_build.tar.gz
next_prod.tar.gz
prisma_build.tar.gz
prisma_full.tar.gz
prisma_linux.tar.gz
modules_bundle.tar.gz
unzip_pure.js
diagnose.js
